{{#each questions as |question index|}}
<h2><a href="#">{{question.subject}}</a></h2>
<span>{{question.date}}</span>
{{/each}}

<form action="/new" method="get">
  <input type="submit" value="New Question">
</form>