<h1><a href="/">WDI 22 Answer Board</a></h1>

<form action="/" method="post">
<label>Question Subject:</label>
<input class="newquestion" type="text" name="subject">
<label>Question Details:</label>
<input class="newquestion details" type="text" name="details">

<label>Your Name:</label>
<input class="newquestion" type="text" name="asker">

<label>Date:</label>
<input class="newquestion" type="text" name="date">
<input type="submit" value="Add Question">
</form>

<form action="/" method="get">
<input type="submit" value="Go Back">
</form>
