

<h2>SignUp</h2>
{{#if message}}
<div>{{message}}</div>
{{/if}}

<form action="/user/signup" method="post">

<div>
  <label for="email">Email: </label>
  <input type="text" name="email" id="email">
</div>

<div>
  <label for="password">Password: </label>
  <input type="password" name="password" id="password">
</div>

<input type="submit">
</form>