body {
  font-family: 'Montserrat', sans-serif;
  /* display: flex;
  flex-direction: column;
  text-align: center; */
}

h1 a {
  color: white;
  font-weight: 400;
}

.list {
  margin: 10px 0;
  width: 97%;
  height: 120px;
  text-align: left;
  padding: 10px 20px;
  border-style: solid;
  border-width: 2px;
  border-color: lightseagreen;
}

.list span {
  display: block;
  margin: 10px 0;
}

h1 {
  text-align: center;
  background: mediumaquamarine;
  margin: 0;
  padding: 30px;
  color: white;
  font-weight: 400;
}

h2 {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 5px;
  font-weight: 400;
}

.list:hover {
  background: #ceffef;
}

.list a:hover {
  text-decoration: underline;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.button {
  border: none;
  width: 100%;
  height: 50px;
  font-size: 20px;
  margin: 20px 0;
  display: block;
}

.button:hover {
  background: darkgrey;
  text-decoration: underline;
  cursor: pointer;
}

.submit {
  font-size: 20px;
  margin: 7px 0px;
  width: 150px;
  height: 30px;
}

.submit:hover {
  cursor: pointer;
}

.box {
  border-style: solid;
  border-width: 2px;
  border-color: mediumaquamarine;
  margin: 20px 0;
  padding: 5px 15px;
}

.edit {
  color: darkgrey;
}

form.edit {
  display:inline;
}

/* form.edit {
  color: black;
} */

h3 {
  font-weight: 400;
}

.new {
  display: block;
  margin: 7px 0;
}

input.new.answer {
  width: 95%;
  height: 100px;
}

.name {
  width: 95%;
}

.likes {
  display: none;
}

.new .submit {
  margin: 10px auto;
  display: block;
}

.newquestion {
  width: 95%;
  height: 40px;
  display: block;
  margin: 10px 0;
}

.details {
  height: 100px;
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  text-align: center;
  background: lightgrey;
}

.nav-bar li {
  display: inline; 
  padding: 10px 15px;
}

.nav-bar li:hover {
  background: darkgrey;
}

.nav-bar li a {
  text-align: right;
}